@page
@model IndexModel
@{
    ViewData["Title"] = "Test Calculation";
}

<h2>
    @ViewData["Title"]
</h2>

<div class="row">
    <div class="col-md-3">
        <p style="text-align: center">
            Enter the Principle:
            <input id="principleInput" type="number" /><br /><br />
        </p>
        <p style="text-align: center">
            Enter the Interest Rate(0-100):
            <input id="interestRateInput"  type="hidden" /><br /><br />
        </p>
        <p style="text-align: center">
            Enter the Years:
            <input id="yearsInput" type="hidden" /><br /><br />
        </p>
        <p style="text-align: center">
            <input type="submit" name="submitButton" value="Submit!" />
        </p>

    </div>
    
</div>
