@page
@model TooBroke.Pages.Goals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GoalEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoalEntry.Category" class="control-label"></label>
                <select asp-for="GoalEntry.CategoryID" class ="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.Title" class="control-label"></label>
                <input asp-for="GoalEntry.Title" class="form-control" />
                <span asp-validation-for="GoalEntry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.InitialAmount" class="control-label"></label>
                <input asp-for="GoalEntry.InitialAmount" class="form-control" />
                <span asp-validation-for="GoalEntry.InitialAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.GoalAmount" class="control-label"></label>
                <input asp-for="GoalEntry.GoalAmount" class="form-control" />
                <span asp-validation-for="GoalEntry.GoalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.Interest" class="control-label">(Decimal)</label>
                <input asp-for="GoalEntry.Interest" class="form-control" />
                <span asp-validation-for="GoalEntry.Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.Term" class="control-label"></label>
                <input asp-for="GoalEntry.Term" class="form-control" />
                <span asp-validation-for="GoalEntry.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.Compound" class="control-label"></label>
                <input asp-for="GoalEntry.Compound" class="form-control" />
                <span asp-validation-for="GoalEntry.Compound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.RecurringPayments" class="control-label"></label>
                <input asp-for="GoalEntry.RecurringPayments" class="form-control" />
                <span asp-validation-for="GoalEntry.RecurringPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.PaymentFrequency" class="control-label"></label>
                <input asp-for="GoalEntry.PaymentFrequency" class="form-control" />
                <span asp-validation-for="GoalEntry.PaymentFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.TargetPayOff" class="control-label"></label>
                <input asp-for="GoalEntry.TargetPayOff" class="form-control" />
                <span asp-validation-for="GoalEntry.TargetPayOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalEntry.OneTimePayment" class="control-label"></label>
                <input asp-for="GoalEntry.OneTimePayment" class="form-control" />
                <span asp-validation-for="GoalEntry.OneTimePayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
