@page

@{
    ViewData["Title"] = "Goal calculators index";
}

<h2>Goal Calculators</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4><a asp-page="Loans">Loan Calculator</a></h4>
        <p>Calculate payments on your loans to minimize your costs.</p>
        <hr />
    </div>
    <div class="col-md-12">
        <h4><a asp-page="Savings">Savings Calculator</a></h4>
        <p>Calculate how long it will take to reach your financial goals.</p>
    </div>
</div>
