@page
@model AboutModel
@{
    ViewData["Title"] = "About 'Too Broke':";
}
<h2>@ViewData["Title"]</h2>

<p>'Too Broke' is a budget calculator web app that can be used to track your current budget, debt and many other calculations.</p>
