@page
@model ContactModel
@{
    ViewData["Title"] = "Contact the 'Too Broke' team";
}
<h2>@ViewData["Title"]</h2>

<address>
    Quasicodeo<br />
    4201 Grant Line Rd, New Albany, IN 47150<br />
</address>

<address>
    <strong>Rick: </strong> <a href="mailto:rwohlleb@ius.edu">rwohlleb@ius.edu</a><br />
    <strong>Chris: </strong> <a href="mailto:cnoos@ius.edu"> cnoos@ius.edu</a><br />
    <strong>Erika:</strong> <a href="mailto:errpruit@ius.edu">errpruit@ius.edu</a>
</address>
